h1 {text-align: center;
    font-size: 2em;
    margin-top: 3.5%;
    margin-bottom: 0.5%;
    color: teal;}

h2 {font-size: 1.2em;
    color: teal;
    margin-top: 1%;}
h3 {font-size: 1em;}
h4 {font-size: 0.8em;
    margin-top: 2%;}
p {font-size: 1em;}
.Font {font-size: 0.8em;}
ul {font-size: 0.8em;}


.contact-info {display: flex;
               gap: 65px;
               justify-content: center;
               flex-wrap: nowrap;}

body {background-color: lightgray;
      margin: 3%;}

#Container {background-color: aliceblue;
            width:60%; 
            margin: 0 auto;
            margin-bottom: -8%;
            border-style: solid;
            border-radius: 15px;
            border-color: transparent;
            box-shadow: 5;}

#Container2 {background-color: aliceblue;
            width:90%; 
            margin: 0 auto;
            border-style: solid;
            border-radius: 15px;
            border-color: transparent;}
      
.Title {margin-top:-1.5%;
         display: inline-block;
         vertical-align: top;
         width: 50%;}

.Academic-year {margin-top:-1.5%;
                display: inline-block;
                vertical-align: top;
                text-align: right;
                width: 49%;}

.Description {margin-top: -1%;
              margin-bottom: 2%;
              text-align: justify;}

.Position {margin-top:-1.5%;
         display: inline-block;
         vertical-align: top;
         width: 50%;}

.Years-worked {margin-top:-1.5%;
                display: inline-block;
                vertical-align: top;
                text-align: right;
                width: 49%;}

.Work-description {margin-top: -1%;
              margin-bottom: 2%;
              text-align: justify;}


.Project {margin-top:-1.5%;
         display: inline-block;
         vertical-align: top;
         width: 50%;}

.Date {margin-top:-1.5%;
                display: inline-block;
                vertical-align: top;
                text-align: right;
                width: 49%;}

.Project-description {margin-top: -1%;
              margin-bottom: 2%;
              text-align: justify;}

